<div class="bx--module">
  <div class="bx--module__inner">
    <div class="bx--module__header">
      <p class="bx--module__title bx--type-alpha">Dynamic Form Component</p>
    </div>
    <div class="bx--module__content">
      <div class="bx--row">
        <div class="bx--col-md-6">
          <dynamic-form [formConfig]="formConfig" (formSubmit)="onSubmit($event)"></dynamic-form>
        </div>
        <div class="bx--col-md-6">
          <h5>Configuration Object</h5>
          <div class="bx--snippet bx--snippet--code" style="width:100%;">
            <code>
                      <pre>{{formConfig | json}}</pre>
                  </code>
            <button data-copy-btn class="bx--snippet-button" aria-label="Copy code" tabindex="0">
                      <svg class="bx--snippet__icon" width="18" height="24" viewBox="0 0 18 24" fill-rule="evenodd">
                        <path d="M13 5V0H0v19h5v5h13V5h-5zM2 17V2h9v3H5v12H2zm14 5H7V7h9v15z"></path>
                        <path d="M9 9h5v2H9zM9 12h5v2H9zM9 15h3v2H9z"></path>
                      </svg>
                      <div class="bx--btn--copy__feedback" data-feedback="Copied!"></div>
                    </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
